@import "compass/css3/images";
@import "compass/css3/user-interface";

body {
  font-family: Helvetica, Arial, 'Apple Color Emoji', 'Android Emoji', 'Segoe UI Symbol', sans-serif;
}

.EditPageEditor textarea, textarea, code, pre {
  font-family: monospace, 'Apple Color Emoji', 'Android Emoji', 'Segoe UI Symbol', sans-serif;
}

ins {
  text-decoration: underline;
}

del {
  text-decoration: line-through
}

td, th {
  vertical-align:top;
  padding:0 2px;
}

tr:nth-child(even) {
  background-color:rgba(0,0,0,.1);
}

td.prefix {
  text-align:right;
}

table.complex {
  font-size:11px;
  th{
    font-size:11px;
  }
}

th{
  background-color:rgba(255,255,255, .05);
  text-align:left;
}

thead th{
  background-color:#222226;
  @include background(linear-gradient(center top , #2E2E33 0%, #222226 100%));
  font-size:12px;
  height:25px;
  line-height:25px;
  margin:5px 0 20px;
}

.overview {
  text-align:center;
  margin:1em 0;
}

.visualClear{
  clear:both;
}

.meta {
  font-style:italic;
  padding:0 1em;
  i, em {
    font-style:normal;
  }
}

h1,h2,h3,h4,h5,h6 {
  color: #FFD942;
}

h1,h2,h3,h4,h5 {
  font-weight: bold;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.2em;
}

.editsection {
  visibility: hidden;
  h1:hover > &,
  h2:hover > &,
  h3:hover > &,
  h4:hover > &,
  h5:hover > &,
  h6:hover > & {
    visibility: visible;
  }
}

a:visited {
  color:#0269B3;
}

.memory-beta a {
  color:#D7ECFF;
}

.element-invisible {
  display:none !Important;
}

.alt_timeline {
  border-style:solid;
  border-color:#666666;
  border-width:1px 1px 1px 3px;
  margin:2em 0pt 1em;
  padding:.5em 1em;
  background-color:inherit;
  .legend {
    position:absolute;
    background-color:#3D3D3D;
    font-weight:normal;
    color:#666666;
    padding:0 .5em;
    font-size:.8em;
    margin-top:-1.6em;
    margin-top:-1.6em;
  }
}

figcaption {
  > .attribution {
    @extend .element-invisible; // oasis only
  }
  > .caption {
    margin-bottom: 0;
  }
}

@for $i from 1 through 6 {
  $j:$i+1;
  .toclimit-#{$j} .toclevel-#{$i} > ol {
    @extend .element-invisible;
  }
}

.details {
  > .summary {
    font-weight: bold;
    cursor: pointer;
    @include user-select(none);
    &:before {
      content: '▸';
      .open > & {
        content: '▾';
      }
    }
    ~ div {
      display: none;
    }
  }
  &.open > .summary ~ div {
    display: block;
  }
}
