.warning, .copyvio, .protected, div.stub, .featured {
  border-width: 1px;
  border-style: solid;
  margin: 2em 0 1em;
  text-align: justify;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: 1em;
  padding-left: 77px; }

.warning {
  background: #401f22 url(http://images1.wikia.nocookie.net/memoryalpha/de/images/thumb/e/ed/MA_Icon_Warnung.svg/50px-MA_Icon_Warnung.svg.png) no-repeat scroll 1em 1em;
  border-color: #660000;
  color: #FF0000 !important;
  font-weight: bold;
  min-height: 56px;
  font-size: normal; }

.copyvio {
  background: #401f22 url(http://images4.wikia.nocookie.net/memoryalpha/de/images/thumb/3/30/MA_Icon_Copyright-Verletzung_.svg/50px-MA_Icon_Copyright-Verletzung_.svg.png) no-repeat scroll 1em 1em;
  border-color: #660000;
  color: #FF0000 !important;
  font-weight: bold;
  margin: 2em 0 1em;
  min-height: 63px; }

.protected {
  background: #333333 url(http://images2.wikia.nocookie.net/memoryalpha/de/images/thumb/c/cb/MA_Icon_Protected.svg/50px-MA_Icon_Protected.svg.png) no-repeat scroll 1em 1em;
  border-color: #AAAAAA;
  font-weight: bold;
  margin: 2em 0 1em;
  min-height: 56px; }

div.stub {
  background: #333333 url(http://images1.wikia.nocookie.net/memoryalpha/de/images/thumb/f/fd/MA_Icon_Stub.svg/50px-MA_Icon_Stub.svg.png) no-repeat scroll 1em 1em;
  border-color: orange;
  margin: 2em 0 1em;
  vertical-align: middle;
  min-height: 64px; }

.featured {
  border-color: gold; }

.meta-notice {
  background: url("http://images4.wikia.nocookie.net/memoryalpha/de/images/a/a6/Icon-Realworld-POV.png") no-repeat scroll 5px 4px #222226;
  border: 1px solid #3C3C43;
  clear: both;
  font-size: 80%;
  line-height: 130%;
  margin: 1em auto 0.5em;
  padding: 0.4em 0.4em 0.4em 56px;
  text-align: center;
  width: 147px;
  float: right;
  margin: 0 0 16px 16px;
  min-height: 40px; }

.pov-multiple {
  background-image: url(http://img3.wikia.nocookie.net/__cb20140415094854/memoryalpha/de/images/thumb/a/ac/Article-type-pov-multiple.png/640px-Article-type-pov-multiple.png); }

.pov-new-timeline {
  background-image: url(http://img2.wikia.nocookie.net/__cb20140416095646/memoryalpha/de/images/thumb/5/5c/Article-type-pov-new-timeline.png/640px-Article-type-pov-new-timeline.png?action=purge); }

.pov-alt-timeline {
  background-image: url(http://img2.wikia.nocookie.net/__cb20140505095747/memoryalpha/de/images/thumb/e/eb/Article-type-pov-alt-timeline.png/640px-Article-type-pov-alt-timeline.png); }

.pov-production {
  background-image: url(http://img2.wikia.nocookie.net/__cb20140416165155/memoryalpha/de/images/thumb/7/74/Article-type-pov-production.png/640px-Article-type-pov-production.png?1); }

.pov-realworld {
  background-image: url(http://img4.wikia.nocookie.net/__cb20140416165931/memoryalpha/de/images/thumb/4/40/Article-type-pov-realworld.png/640px-Article-type-pov-realworld.png); }

.pov-mirror-universe {
  background-image: url(http://img1.wikia.nocookie.net/__cb20140417100241/memoryalpha/de/images/thumb/f/f1/Article-type-pov-mirror-universe.png/640px-Article-type-pov-mirror-universe.png); }

.article-type {
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: left center;
  background-color: black;
  padding: .5em 1em;
  text-align: right;
  margin-bottom: 1em; }

.article-type-headline {
  font-variant: small-caps; }
