@charset "CP850";
q {
  font-family: inherit;
  font-style: italic;
  quotes: "\201E" "\201D" "\2019" "\2018" !Important; }
  q:before {
    content: open-quote; }
  q:after {
    content: close-quote; }

q:lang(tlh) {
  quotes: "「" "」" '『' '』' !Important;
  font-family: serif; }

blockquote {
  margin: 0;
  background-color: #3C3C43;
  padding: 4px 10px; }
  .WikiaArticle blockquote {
    margin: 0 !Important; }
  blockquote img {
    max-width: 100%;
    height: auto; }

.dialogue {
  padding: 0;
  background-color: transparent; }
  .dialogue cite {
    font-weight: bold;
    font-style: normal; }
  .dialogue q {
    font-style: normal; }
  .dialogue strong {
    font-weight: normal;
    text-transform: uppercase; }
  .dialogue .event {
    font-style: italic; }

.log {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(60%, #333338), color-stop(100%, #222226));
  background: -webkit-linear-gradient(center top, #333338 60%, #222226 100%);
  background: -moz-linear-gradient(center top, #333338 60%, #222226 100%);
  background: -o-linear-gradient(center top, #333338 60%, #222226 100%);
  background: linear-gradient(center top, #333338 60%, #222226 100%);
  border: 1px solid #3C3C43;
  line-height: 135%; }
  .log dl, .log dd {
    margin: 0; }
  .log dt {
    font-weight: normal; }
  .log dd {
    border-top: 1px solid #D5D4D4;
    padding-top: 5px; }
