.Sidebar {
  width: 202px;
  float: right;
  clear: right;
  padding: 3px;
  border: 1px solid #3C3C43;
  background-color: #222226;
  font-size: 10px;
  line-height: 12px;
  margin: 0 0 16px 16px; }
  .Sidebar dl {
    clear: both;
    margin: 1em 0;
    overflow: hidden; }
  .Sidebar dt, .Sidebar dd {
    width: 49%; }
  .Sidebar dt {
    float: left;
    clear: both;
    text-align: right; }
  .Sidebar dd {
    margin-left: 0;
    float: right;
    clear: right;
    line-height: normal; }
  .Sidebar sup {
    font-size: 5px; }
  .Sidebar .details.magnify {
    display: none;
    position: absolute; }
  .Sidebar div.thumb {
    border: none; }
    .Sidebar div.thumb:hover .details.magnify {
      display: block; }
  .Sidebar figure.thumbinner, .Sidebar div.thumbinner {
    padding: 0;
    border: none;
    padding: 0 !Important;
    width: auto !Important; }
  .Sidebar .thumbcaption {
    display: none; }
  .Sidebar img {
    width: 200px;
    height: auto; }
  .Sidebar .magnify {
    display: none; }
  .Sidebar div.tright, .Sidebar figure.tright {
    margin: 0;
    float: none;
    border: none !Important; }
  .Sidebar .sub-sidebar {
    margin: 1em 0; }
    .Sidebar .sub-sidebar:last-child {
      margin-bottom: 0; }
  .Sidebar .releases .tright {
    width: 49% !important; }
  .Sidebar .releases .tright {
    float: left;
    clear: left;
    margin: 0; }
  .Sidebar .releases img {
    width: 100%; }
  .Sidebar .releases dl {
    clear: none;
    overflow: visible;
    margin: 0; }
  .Sidebar .releases dt {
    display: none; }

.division-header,
.sidebar-title,
.sub-sidebar {
  clear: both; }

.division-header {
  width: 49%;
  text-align: right;
  position: relative; }
  .division-header .expandability-indicator {
    position: absolute;
    right: -1.3em;
    top: 0; }
  .collapsed .division-header {
    color: #66BBFF; }
  .division-header + .sub-sidebar {
    margin-top: 0; }

.sidebar-title {
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #0e1519), color-stop(50%, #3a5766), color-stop(100%, #0e1519));
  background: -webkit-linear-gradient(left center, #0e1519 0%, #3a5766 50%, #0e1519 100%);
  background: -moz-linear-gradient(left center, #0e1519 0%, #3a5766 50%, #0e1519 100%);
  background: -o-linear-gradient(left center, #0e1519 0%, #3a5766 50%, #0e1519 100%);
  background: linear-gradient(left center, #0e1519 0%, #3a5766 50%, #0e1519 100%);
  padding: 4px;
  text-align: center; }

.sidebar-division.meta {
  padding: 0; }
